
<form [formGroup]="productform" (ngSubmit)="onproAdd()">
    <div class="form-group">
        <label for="Pname">Pname</label>
        <input type="text" formControlName="Pname" class="form-control">          
    </div>
      <div class="form-group">
        <label for="Pdetail">Pstatus</label>
        <input type="text" formControlName="Pdetail" class="form-control">
      </div>
      <div class="text-right">
        <button mat-button color="accent" type="submit"
        [disabled]="productform.invalid">Add Product</button>
      </div>

</form>